html {
    background-color: rgb(77, 34, 34);
}


main {
    width: 955px;
    height: 1000px;
    margin: -1px auto 10px;
    border: 1px solid rgb(186, 150, 87);
    font-family: 'Times New Roman', Times, serif;
    color: rgb(186, 150, 87);
    box-shadow: 0 0 10px rgb(186, 150, 87);
    letter-spacing: 0.5px;
}

header {
    text-align: center;
    width: 955px;
    height: 95px;
    background-color: rgb(77, 34, 34);
    border-bottom: 0.5px solid rgb(186, 150, 87);
}

nav {
    width: 955px;
    border-bottom: 0.5px solid rgb(186, 150, 87);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: rgb(92, 41, 41);
}

.navbar a{
    float: left;
    font-size: 16px;
    color: rgb(186, 150, 87);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(186, 150, 87);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(110, 49, 49);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(77, 34, 34);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: rgb(186, 150, 87);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(110, 49, 49)
}

.dropdown:hover .dropdown-content {
    display: inline;
}